body {
  font-family: Inter;
}

.navbar {
  width: 100vw;
  background-color: #f55a5a;
  align-items: center;
  padding: 2rem 0;
  height: 7rem;
  position: relative;
  margin-bottom: 2.5rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
}

.navbar__logo {
  width: 3rem;
}

.navbar__title {
  margin-left: 0.875rem;
  font-weight: 500;
  font-size: 1.8rem;
  color: #ffffff;
  letter-spacing: -0.075em;
}

.main {
  padding: 0 5rem;
}

.destination__photo img {
  width: 15rem;
  height: 22rem;
  border-radius: 5px;
  object-fit: cover;
}

.destination__info {
  margin-left: 2.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destination__info__location__pathIcon {
  width: 0.7rem;
}

.destination__info__location {
  justify-content: flex-start;
  align-items: center;
  line-height: 1.5rem;
  font-size: 1.28rem;
}

.destination__info__location__country {
  margin-left: 0.5rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.destination__info__location__gmaps {
  text-underline-offset: 0.2rem;
  margin-left: 1.5rem;
  text-decoration-line: underline;
  color: #918e9b;
}
a:active {
  color: #918e9b;
}
a:visited {
  color: #918e9b;
}
a:hover {
  color: #918e9b;
}

.destination {
  padding: 2.5rem 0 2.5rem;
}

.destination__info__name {
  font-size: 3.125rem;
}

.destination__info__date {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.28rem;
}

.destination__info__content {
  margin-top: 1rem;
  font-size: 1.28rem;
}

.destination + .destination {
  border-top: 2px solid #f5f5f5;
}
