.navbar {
  width: 100vw;
  background-color: #f55a5a;
  align-items: center;
  padding: 2rem 0;
  height: 7rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.navbar__flex {
  display: flex;
  justify-content: center;
}

.navbar__logo {
  width: 3rem;
}

.navbar__title {
  margin-left: 0.875rem;
  font-family: Inter;
  font-weight: 500;
  font-size: 1.8rem;
  color: #ffffff;
  letter-spacing: -0.075em;
}
